Repository Floofies/NovaSector, pull requests merged in 2024-09, with the labels that each got.

#20 ARV Hestia Decoration and Medbay
  _maps/RandomZLevels/ARV-Hestia.dmm
  config/game_options.txt
  modular_nova/modules_bluemoon/awaymissions/hestia/hestia.dm
Labels: enhancement, bugfix

#21 Updates to both decoration and gameplay of the ARV Hestia
  _maps/RandomZLevels/ARV-Hestia.dmm
Labels: enhancement

#23 More markings slots per limb! Was 3, now 4!
  code/__DEFINES/~nova_defines/DNA.dm
Labels: enhancement

#24 More Hestia Bug fixes
  _maps/RandomZLevels/ARV-Hestia.dmm
Labels: enhancement

#25 Allows players to use gas miner beacons anywhere
  modular_nova/modules/modular_items/code/summon_beacon.dm
Labels: enhancement

#28 A chest-full of heart options
  modular_nova/modules_bluemoon/augments_plus/code/organs_chest.dm
Labels: enhancement

#26 ARV Hestia - Replace HoP's room With Lily's room
  _maps/RandomZLevels/ARV-Hestia.dmm
Labels: enhancement

#30 ARV Hestia: deleted an accidentally placed rifle
  _maps/RandomZLevels/ARV-Hestia.dmm
Labels: enhancement

#32 Gave Marina proper comms
  _maps/RandomZLevels/ARV-Hestia.dmm
  _maps/map_files/ShipStation/ShipStation2.dmm
  _maps/shuttles/station_ship.dmm
Labels: enhancement

#39 Re-adds in Modified Bug Report Template
  .github/ISSUE_TEMPLATE/bug_report_form.yml
Labels: documentation
